<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block menu %}
    <a href="/shopapp/add_user/">Добавить клиента</a>
    <a href="/shopapp/order/add_order/">Добавить заказ</a>
    <a href="/shopapp/add_product/">Добавить товар</a>
    <a href="/shopapp/order/client_orders/">Вывести заказы</a>
{% endblock %}

    {% block content %}


    {% endblock %}
</body>
</html>