{% extends 'shopapp/base.html' %}

{% block content %}
  <h1>Список заказов клиента</h1>

  <h2>За последние 7 дней (неделю)</h2>
  <ul>
    {% for order in client_orders_last_7_days %}
      <li>{{ order.products.name }} - {{ order.total_price }}</li>
    {% endfor %}
  </ul>

  <h2>За последние 30 дней (месяц)</h2>
  <ul>
    {% for order in client_orders_last_30_days %}
      <li>{{ order.products }} - {{ order.total_price }}</li>
    {% endfor %}
  </ul>

  <h2>За последние 365 дней (год)</h2>
  <ul>
    {% for order in client_orders_last_365_days %}
      <li>{{ order.products }} - {{ order.total_price }}</li>
    {% endfor %}
  </ul>
{% endblock %}